
node_modules/
dist/
build/
.npm/
yarn-error.log
npm-debug.log*
pnpm-debug.log*
*.log

.cache/
.temp/

venv/
.env/
.env.bak
.venv/
env/
ENV/


__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.python-version
.pytest_cache/

instance/
*.db
*.sqlite3


.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

*.swp
*.swo
*.tmp

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
